@import './button.scss';

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(-135deg, #7affce, #f7b6ff) fixed;
}

body {
  margin: 0;
}

#app {
  display: flex;
  align-items: center;
  height: 100%;
}
